@media only screen and (max-width: 768px) {
  .pb-70 {
    padding-bottom: 20px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .section-title {
    max-width: 100%;
    margin: 0 auto 30px;
  }
  .section-title span {
    font-size: 15px;
  }
  .section-title h2 {
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .top-header .top-list {
    text-align: center;
  }
  .top-header .top-list li {
    margin-bottom: 10px;
  }
  .top-header .top-list li:last-child {
    margin-bottom: 0;
  }
  .top-header .top-social {
    text-align: center;
    margin-top: 16px;
  }
  .top-header .top-social li {
    margin-bottom: 10px;
  }
  .top-header .top-social li:last-child {
    margin-bottom: 0;
  }
  .main-banner {
    height: 100%;
    padding-top: 110px;
    padding-bottom: 0;
    background-image: unset;
    background-color: #eaf7fd;
  }
  .main-banner .main-banner-content {
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    
  }
  .main-banner .main-banner-content h1 {
    font-size: 26px;
    line-height: 1.4;
  }
  .banner-btn {
    text-align: center;
  }
  .banner-image {
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
    
  }
  .banner-image img {
    max-width: 100%;
  }
  .default-shape {
    display: none;
    
  }

  .about-content {
    margin-top: 30px;
  }
  .about-content h3 {
    font-size: 25px;
  }
  .about-content .about-features li {
    flex: unset;
    max-width: unset;
    display: inline-block;
    width: 100%;
  }
  .about-content .about-features li span {
    font-size: 15px;
  }
  .services-item .icon {
    margin-bottom: 15px;
  }
  .services-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .services-item .read-btn {
    margin-top: 8px;
  }
  
  .doctor-item .content {
    bottom: 0;
  }
  .appointment-form {
    padding: 30px 20px;
  }
  .appointment-form::before {
    display: none;
  }
  .appointment-form .content {
    margin-bottom: 25px;
  }
  .appointment-form .content h3 {
    font-size: 20px;
    margin-top: 6px;
  }
  
  .services-item-two h3 {
    font-size: 20px;
  }
  .goal-content-item {
    padding: 15px 15px 50px;
    margin-left: 0;
  }
  .goal-content-item .item-content h3 {
    font-size: 26px;
  }
  .goal-content-item .item-content .goal-btn {
    margin-top: 20px;
  }
  .goal-content-item .item-content .list li {
    font-size: 15px;
  }
  .testimonials-area .container-fluid {
    padding-left: 15px !important;
  }
  .testimonials-slider .testimonials-item {
    max-width: 100%;
  }
  .testimonials-slider .testimonials-item .content {
    margin-top: 30px;
  }
  .testimonials-slider .testimonials-item .content h3 {
    font-size: 26px;
    margin-top: 8px;
    margin-bottom: 15px;
  }
  .testimonials-slider .testimonials-item .content p {
    font-size: 16px;
  }
  .testimonials-slider .owl-dots {
    position: relative;
    bottom: 0;
  }
  .page-title-area {
    height: 230px;
  }
  .page-title-content {
    margin-top: 0;
  }
  .page-title-content h2 {
    font-size: 30px;
  }
  .page-title-content ul {
    margin-top: 8px;
  }
  .service-details-content .service-details-info .single-info-box {
    flex: unset;
    max-width: unset;
    margin-bottom: 20px;
  }
  .faq-accordion-content {
    padding: 25px;
  }
  .widget-projects-area {
    margin-top: 30px;
  }
  .pagination-area .page-numbers {
    width: 35px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .order-details {
    margin-top: 30px;
  }
  .doctor-details-desc h3 {
    margin-top: 25px;
  }
  .single-privacy h3 {
    font-size: 22px;
  }

  .contact-area .section-title {
    margin-top: 20px;
  }
  .contact-info-box {
    margin-bottom: 30px;
  }
  .single-blog-details .details-features {
    margin-bottom: 20px;
  }
  .single-blog-details .details-features li {
    font-size: 16px;
  }
  .single-blog-details .content h3 {
    font-size: 22px;
  }
  .single-blog-details .comments-area .comment-body {
    padding: 30px;
  }
  .single-blog-details .comments-area .comment-body .reply {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
  }
  .single-blog-details .comments-area .comment-author {
    margin-bottom: 10px;
  }
  .single-blog-details .comments-area .comment-author .avatar {
    position: relative;
    left: -5px;
  }
  .single-blog-details .comments-area .comment-list .children {
    margin-left: 0;
  }
  .widget-area {
    margin-top: 30px;
  }
  .doctor-item .image img {
    border: none;
  }
  .doctor-item:hover .image img {
    border: none;
  }
  .appointment-area .single-fun-fact {
    margin-top: 0;
    padding: 30px 30px;
  }
  .single-services h3 {
    font-size: 20px;
  }
  .team-item .content h3 {
    font-size: 20px;
  }
  .faq-image {
    height: 500px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .services-image {
    height: 500px;
    margin-bottom: 30px;
  }
 
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pb-70 {
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }
  .top-header .top-list {
    text-align: center;
  }
  .top-header .top-social {
    text-align: center;
    margin-top: 16px;
  }
  .mean-container a.meanmenu-reveal {
    padding: 6px 0 0 0;
  }
  .mean-container a.meanmenu-reveal span {
    display: block;
    background: #000;
    height: 4px;
    margin-top: -5px;
    border-radius: 3px;
    position: relative;
    top: 8px;
  }
  .mean-container .mean-bar {
    background-color: unset;
  }
  .mean-container .mean-nav {
    margin-top: 52px;
  }
  .main-banner {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 0;
    background-image: unset;
    background-color: #eaf7fd;
  }
  .main-banner .main-banner-content {
    margin-top: 0;
    max-width: 100%;
    text-align: center;
  }
  .main-banner .main-banner-content h1 {
    font-size: 26px;
    line-height: 1.4;
  }
  .banner-btn {
    text-align: center;
  }
  .banner-image {
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
  }
  .banner-image img {
    max-width: 100%;
  }
  .video-btn {
    left: 0;
    right: 0;
  }
  .default-shape {
    display: none;
  }
  .top-services-content .icon {
    margin-bottom: 18px;
  }
  .top-services-content .icon i {
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 30px;
  }
  .about-content {
    margin-top: 30px;
  }
  .about-content h3 {
    font-size: 25px;
  }
  .about-image {
    text-align: center;
  }
  .services-item .icon {
    margin-bottom: 15px;
  }
  .services-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .services-item .read-btn {
    margin-top: 8px;
  }
  .pl-0, .px-0 {
    padding-left: 15px !important;
  }
  
  .doctor-item .content {
    bottom: 0;
  }
  .appointment-form {
    padding: 30px 20px;
  }
  .appointment-form::before {
    display: none;
  }
  .appointment-form .content {
    margin-bottom: 25px;
  }
  .appointment-form .content h3 {
    font-size: 20px;
    margin-top: 6px;
  }
  
  .services-item-two h3 {
    font-size: 20px;
  }
  .goal-content-item {
    padding: 15px;
    margin-left: 0;
  }
  .goal-content-item .item-content h3 {
    font-size: 26px;
  }
  .goal-content-item .item-content .goal-btn {
    margin-top: 20px;
  }
  .goal-content-item .item-content .list li {
    font-size: 15px;
  }
  .testimonials-area .container-fluid {
    padding-left: 15px !important;
  }
  .testimonials-slider .testimonials-item {
    max-width: 100%;
  }
  .testimonials-slider .testimonials-item .content {
    margin-top: 30px;
  }
  .testimonials-slider .testimonials-item .content h3 {
    font-size: 26px;
    margin-top: 8px;
    margin-bottom: 15px;
  }
  .testimonials-slider .testimonials-item .content p {
    font-size: 16px;
  }
  .testimonials-slider .owl-dots {
    position: relative;
    bottom: 0;
  }
  
  .main-banner.bg-three {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .service-details-content .service-details-info .single-info-box {
    flex: unset;
    max-width: unset;
    margin-bottom: 20px;
  }
  .widget-projects-area {
    margin-top: 30px;
  }
  
  .doctor-details-desc h3 {
    margin-top: 25px;
  }
  .contact-area .section-title {
    margin-top: 20px;
  }
  .contact-info-box {
    margin-bottom: 30px;
  }
  .single-blog-details .details-features {
    margin-bottom: 20px;
  }
  .single-blog-details .details-features li {
    font-size: 16px;
  }
  .single-blog-details .content h3 {
    font-size: 22px;
  }
  .single-blog-details .comments-area .comment-body {
    padding: 30px;
  }
  .single-blog-details .comments-area .comment-body .reply {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
  }
  .single-blog-details .comments-area .comment-author {
    margin-bottom: 10px;
  }
  .single-blog-details .comments-area .comment-author .avatar {
    position: relative;
    left: -5px;
  }
  .single-blog-details .comments-area .comment-list .children {
    margin-left: 0;
  }
  .single-blog-details .related-posts .posts-item .image img {
    width: 100%;
  }
  .single-blog-details .single-image img {
    width: 100%;
  }
  .widget-area {
    margin-top: 30px;
  }
  .widget-area .widget-image {
    text-align: center;
  }
  .appointment-area .single-fun-fact {
    margin-top: 0;
  }
  .main-banner-item {
    height: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .main-banner-item .main-banner-content {
    text-align: center;
    max-width: 100%;
  }
  .main-banner-item .main-banner-content h1 {
    font-size: 36px;
  }
  .main-banner-item .main-banner-content p {
    font-size: 15px;
  }
  .main-banner-item .main-banner-content .banner-btn {
    margin-top: 20px;
  }
  .single-services h3 {
    font-size: 20px;
  }
  .team-item .content h3 {
    font-size: 20px;
  }
  .faq-image {
    height: 500px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
 
  .services-image {
    height: 500px;
    margin-bottom: 30px;
  }
  
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .top-header .top-list li {
    font-size: 12px;
    margin-right: 10px;
  }
  .top-header .top-social li .log-in {
    font-size: 14px;
  }
  .top-header .top-social li .sign-in {
    font-size: 14px;
  }
  .main-banner {
    background-image: unset;
    background-color: #eaf7fd;
    height: 700px;
  }
  .main-banner-content h1 {
    font-size: 40px;
  }
  .banner-form {
    padding: 10px 12px;
  }
  .banner-form form .banner-form-btn {
    padding: 8px 10px;
    font-size: 14px;
  }
  .banner-image {
    right: 15px;
  }
  .banner-image img {
    max-width: 500px;
  }
  .about-content .about-features li span {
    font-size: 15px;
  }
  .services-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .single-fun-fact {
    padding: 50px 16px;
  }
  .single-fun-fact p {
    font-size: 16px;
  }
  .appointment-form {
    padding: 60px 10px;
  }
  .consult-content h3 {
    font-size: 26px;
  }
  .consult-content .list li {
    font-size: 15px;
  }
  .single-footer-widget .instagram li img {
    max-width: 62px;
  }
  .services-item-two h3 {
    font-size: 20px;
  }
  
  .testimonials-slider .testimonials-item .content h3 {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 12px;
  }
  .testimonials-slider .testimonials-item .content p {
    font-size: 16px;
  }
  .service-details-content .service-details-info {
    padding: 38px 0px 18px;
  }
  .single-blog-details .details-features li {
    font-size: 16px;
  }
  
  .about-content .about-features li {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (min-width: 1550px) {
  .banner-image {
    top: 50px;
    right: 120px;
  }
  .banner-image img {
    max-width: 100%;
  }
  .main-banner-content {
    margin-top: 0;
  }
}